<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/css/base.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <title>Narrative Nexus</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Top Rated</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Genere
                            </a>
                           <ul class="dropdown-menu">
                            <a class="dropdown-item" href="#">Fantasy</a>
                            <a class="dropdown-item" href="#">Science Fiction</a>
                            <a class="dropdown-item" href="#">Mystery</a>
                            <a href="#" class="dropdown-item">Romance</a>
                            <a href="#" class="dropdown-item">Historical Fictions</a>
                            <a href="#" class="dropdown-item">Horror</a>
                            <a href="#" class="dropdown-item">Comedy</a>
                           </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                
                    <div class="d-flex flex-end">
                        <button class="btn btn-outline-light my-3 mx-4">Log In</button>
                    </div>
                    <div class="invisible">
                        <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120"
                            class="c-rounded-circle " alt="Cinque Terre">
                    </div>
                </div>
                </div>
            </div>
        </nav>
        {% block index %}{% endblock %}
        {% block signup%}{% endblock%}
        <footer>
            <div class="footer_section">
                <div class="container-fluid bg-dark d-flex flex-row foot_container">
                    <div id="div_about" class="d-flex flex-column ">
                        <h5 class="text-uppercase text-info text-white">About</h5>
                        <div class="my-3">
                            <a class="text-decoration-none text-white" href="">Narrative Nexus</a>
                        </div>
                        <div class="my-3">
                            <a class="text-decoration-none text-white" href="">Hire Writters</a>
                        </div>
                        <div class="my-3">
                            <a class="text-decoration-none text-white" href="">Writer of the Month </a>
                        </div>
                        <div class="my-3">
                            <a class="text-decoration-none text-white" href="">Guides</a>
                        </div>
                        <div>
                            <a class="text-decoration-none text-white" href="">For Developers</a>
                        </div>
                    </div>
                
                    <div id="div_contact" class="d-flex flex-column justify-content-around">
                        <h5 class="text-uppercase text-info text-white">Contact Me</h5>
                        <button class="btn  btn-outline-info btn-sm">
                            <p class="text-white" class="text-center"><i
                                    class="bi bi-facebook text-primary mx-2 text-center"></i>Facebook</p>
                        </button>
                        <button class="btn btn-outline-info mt-2 btn-sm">
                            <p class="text-white"><i class="bi bi-instagram text-danger  mx-2"></i>Instagram</p>
                        </button>
                        <button class="btn btn-outline-info mt-2 btn-sm">
                            <p class="text-white"><i class="bi bi-twitter text-primary mx-2"></i>Twitter</p>
                        </button>
                        <button class="btn btn-outline-info btn-sm mt-2">
                            <p class="text-white"><i class="bi bi-linkedin  text-primary mx-2"></i>Linkedin</p>
                        </button>
                    </div>
                </div>
                <hr class="text-black mt-auto" />
                <p class="text-center">Nexus Narrative@2023</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="../static/js/base.js"></script>
    </body>
</html>
